policy-options {
   policy-statement import-UIM {
        term 1 {
            from {
                protocol direct;
                route-filter 10.0.30.0/24 exact;
            }
            then accept;
        }
        term other {
            then reject;
        }
    }
}
routing-options {
  rib-groups {
      DEFAULT_to_OAM {
          import-rib [ DEFAULT.inet.0 VPN-OAM.inet.0 ];
          import-policy import-UIM;
      }
      OAM_to_DEFAULT {
          import-rib [ DEFAULT.inet.0 VPN-OAM.inet.0  ];
          import-policy import-UIM;
      }
    }
}

routing-instances {
    DEFAULT {
     routing-options {
            interface-routes {
                rib-group inet DEFAULT_to_OAM;
            }
        }
    }
}

routing-instances {
    VPN-OAM {
     routing-options {
            interface-routes {
                rib-group inet OAM_to_DEFAULT;
            }
        }
    }
}