{% if 'fbf' in system_tags %}
policy-options{
    {% for prefixs in property_sets.fbf_ipv4.itervalues() %}
    prefix-list SEND-to-F5-01 {
    {% for prefix in prefixs.F5_01 %}
        {{ prefix }};
     {% endfor %}
    }
    {% endfor %}
    {% for prefixs in property_sets.fbf_ipv4.itervalues() %}
    prefix-list SEND-to-F5-02 {
    {% for prefix in prefixs.F5_02 %}
        {{ prefix }};
     {% endfor %}
    }
    {% endfor %}
    {% for prefixs in property_sets.fbf_ipv4.itervalues() %}
    prefix-list SEND-to-F5-03 {
    {% for prefix in prefixs.F5_03 %}
        {{ prefix }};
     {% endfor %}
    }
    {% endfor %}
    policy-statement RCV_FROM_F5_IPV4_PREF_55 {
        term 1 {
            from {
                route-filter 0.0.0.0/0 exact;
            }
            then {
                local-preference 55;
                accept;
            }
        }
        term other {
            then reject;
        }
    }
    policy-statement RCV_FROM_F5_IPV4_PREF_65 {
        term 1 {
            from {
                route-filter 0.0.0.0/0 exact;
            }
            then {
                local-preference 65;
                accept;
            }
        }
        term other {
            then reject;
        }
    }
    policy-statement RCV_FROM_F5_IPV4_PREF_75 {
        term 1 {
            from {
                route-filter 0.0.0.0/0 exact;
            }
            then {
                local-preference 75;
                accept;
            }
        }
        term other {
            then accept;
        }
    }
    policy-statement RCV_FROM_F5_IPV6_PREF_55 {
        term 1 {
            from {
                route-filter ::/0 exact;
            }
            then {
                local-preference 55;
                accept;
            }
        }
        term other {
            then accept;
        }
    }
    policy-statement RCV_FROM_F5_IPV6_PREF_65 {
        term 1 {
            from {
                route-filter ::/0 exact;
            }                           
            then {
                local-preference 65;
                accept;
            }
        }
        term other {
            then accept;
        }
    }
    policy-statement RCV_FROM_F5_IPV6_PREF_75 {
        term 1 {
            from {
                route-filter ::/0 exact;
            }
            then {
                local-preference 75;
                accept;
            }
        }
        term other {
            then accept;
        }
    }
}

firewall {
      family inet {
          filter FBF-F5 {
              term F5-02 {
                  from {
                      source-prefix-list {
                          SEND-to-F5-02;
                      }
                  }
                  then {
                      count F5-02;
                      routing-instance GiTelkomsel;
                  }
              }
              term F5-03 {
                  from {
                      source-prefix-list {
                          SEND-to-F5-03;
                      }
                  }
                  then {
                      count F5-03;
                      routing-instance GiTelkomsel_3;
                  }
              }
              term ACCEPT-ALL {
                  then {
                      count F5-01;
                      accept;
                  }
              }
          }
      }
      family inet6 {
          filter FBF-F5-IPV6 {
              term F5-02-IPV6 {
                  from {               
                      source-prefix-list {
                          SEND-to-F5-02-IPV6;
                      }
                  }
                  then {
                      count F5-02-IPV6;
                      routing-instance GiTelkomsel;
                  }
              }
              term F5-03-IPV6 {
                  from {
                      source-prefix-list {
                          SEND-to-F5-03-IPV6;
                      }
                  }
                  then {
                      count F5-03-IPV6;
                      routing-instance GiTelkomsel_3;
                  }
              }
              term ACCEPT-ALL {
                  then {
                      count F5-01-IPV6;
                      accept;
                  }
              }
          }
      }
}
routing-instances{
    GiTelkomsel {
        routing-options {
            interface-routes {
                rib-group {
                    inet GiTelkomsel_2_TO_GiTelkomsel-and-GiTelkomsel_3;
                    inet6 GiTelkomsel_2_TO_GiTelkomsel-and-GiTelkomsel_3_IPv6;
                }
            }
        }
        protocols {
            bgp {
                family inet {
                    unicast {
                        rib-group BGP-GiTelkomsel_2_TO_GiTelkomsel-and-GiTelkomsel_3;
                    }
                }
                family inet6 {
                    unicast {
                        rib-group BGP-GiTelkomsel_2_TO_GiTelkomsel-and-GiTelkomsel_3_IPv6;
                    }
                }
            }
        }
    }
    GiTelkomsel_1 {
        routing-options {
            interface-routes {
                rib-group {
                    inet GiTelkomsel_TO_GiTelkomsel_2-and-GiTelkomsel_3;
                    inet6 GiTelkomsel_TO_GiTelkomsel_2-and-GiTelkomsel_3_IPv6;
                }                       
            }
        }
        protocols {
            bgp {
                family inet {
                    unicast {
                        rib-group BGP-GiTelkomsel_TO_GiTelkomsel_2-and-GiTelkomsel_3;
                    }
                }
                family inet6 {
                    unicast {
                        rib-group BGP-GiTelkomsel_TO_GiTelkomsel_2-and-GiTelkomsel_3_IPv6;
                    }
                }
            }
        }
        forwarding-options {
            family inet {
                filter {
                    input FBF-F5;
                }
            }
        }
    }
    GiTelkomsel_3 {
        routing-options {
            interface-routes {
                rib-group {
                    inet GiTelkomsel_3_TO_GiTelkomsel-and-GiTelkomsel_2;
                    inet6 GiTelkomsel_3_TO_GiTelkomsel-and-GiTelkomsel_2_IPv6;
                }
            }
        }
        protocols {
            bgp {
                family inet {
                    unicast {
                        rib-group BGP-GiTelkomsel_3_TO_GiTelkomsel-and-GiTelkomsel_2;
                    }
                }
                family inet6 {
                    unicast {
                        rib-group BGP-GiTelkomsel_3_TO_GiTelkomsel-and-GiTelkomsel_2_IPv6;
                    }
                }
            }
        }
    }
 }

routing-options{
    rib-groups {
        GiTelkomsel_TO_GiTelkomsel_2-and-GiTelkomsel_3 {
            import-rib [ GiTelkomsel_1 GiTelkomsel.inet.0 GiTelkomsel_3 GiTelkomsel_1.inet.0 GiTelkomsel_3.inet.0 ];
        }
        GiTelkomsel_TO_GiTelkomsel_2-and-GiTelkomsel_3_IPv6 {
            import-rib [ GiTelkomsel_1 GiTelkomsel.inet6.0 GiTelkomsel_3 GiTelkomsel_1.inet6.0 GiTelkomsel_3.inet6.0 ];
        }
        BGP-GiTelkomsel_TO_GiTelkomsel_2-and-GiTelkomsel_3 {
            import-rib [ GiTelkomsel_1 GiTelkomsel.inet.0 GiTelkomsel_3 GiTelkomsel_1.inet.0 GiTelkomsel_3.inet.0 ];
            import-policy RCV_FROM_F5_IPV4_PREF_75;
        }
        BGP-GiTelkomsel_TO_GiTelkomsel_2-and-GiTelkomsel_3_IPv6 {
            import-rib [ GiTelkomsel_1 GiTelkomsel.inet6.0 GiTelkomsel_3 GiTelkomsel_1.inet6.0 GiTelkomsel_3.inet6.0 ];
            import-policy RCV_FROM_F5_IPV6_PREF_75;
        }
        GiTelkomsel_2_TO_GiTelkomsel-and-GiTelkomsel_3 {
            import-rib [ GiTelkomsel.inet.0 GiTelkomsel_1 GiTelkomsel_3 GiTelkomsel_1.inet.0 GiTelkomsel_3.inet.0 ];
        }
        GiTelkomsel_2_TO_GiTelkomsel-and-GiTelkomsel_3_IPv6 {
            import-rib [ GiTelkomsel.inet6.0 GiTelkomsel_1 GiTelkomsel_3 GiTelkomsel_1.inet6.0 GiTelkomsel_3.inet6.0 ];
        }
        BGP-GiTelkomsel_2_TO_GiTelkomsel-and-GiTelkomsel_3 {
            import-rib [ GiTelkomsel.inet.0 GiTelkomsel_1 GiTelkomsel_3 GiTelkomsel_1.inet.0 GiTelkomsel_3.inet.0 ];
            import-policy RCV_FROM_F5_IPV4_PREF_65;
        }
        BGP-GiTelkomsel_2_TO_GiTelkomsel-and-GiTelkomsel_3_IPv6 {
            import-rib [ GiTelkomsel.inet6.0 GiTelkomsel_1 GiTelkomsel_3 GiTelkomsel_1.inet6.0 GiTelkomsel_3.inet6.0 ];
            import-policy RCV_FROM_F5_IPV6_PREF_65;
        }
        GiTelkomsel_3_TO_GiTelkomsel-and-GiTelkomsel_2 {
            import-rib [ GiTelkomsel_3 GiTelkomsel_1 GiTelkomsel.inet.0 GiTelkomsel_3.inet.0 GiTelkomsel_1.inet.0 ];
        }
        GiTelkomsel_3_TO_GiTelkomsel-and-GiTelkomsel_2_IPv6 {
            import-rib [ GiTelkomsel_3 GiTelkomsel_1 GiTelkomsel.inet6.0 GiTelkomsel_3.inet6.0 GiTelkomsel_1.inet6.0 ];
        }
        BGP-GiTelkomsel_3_TO_GiTelkomsel-and-GiTelkomsel_2 {
            import-rib [ GiTelkomsel_3 GiTelkomsel_1 GiTelkomsel.inet.0 GiTelkomsel_3.inet.0 GiTelkomsel_1.inet.0 ];
            import-policy RCV_FROM_F5_IPV4_PREF_55;
        }
        BGP-GiTelkomsel_3_TO_GiTelkomsel-and-GiTelkomsel_2_IPv6 {
            import-rib [ GiTelkomsel_3 GiTelkomsel_1 GiTelkomsel.inet6.0 GiTelkomsel_3.inet6.0 GiTelkomsel_1.inet6.0 ];
            import-policy RCV_FROM_F5_IPV6_PREF_55;
        }
    }
}
{% endif %}