event-options {
      policy change_NH_down_33 {
          events bfdd_trap_shop_state_down;
          attributes-match {
              bfdd_trap_shop_state_down.remote-peer matches 10.40.9.214;
          }
          then {
              change-configuration {
                  retry count 5 interval 4;
                  commands {
                      "set policy-options policy-statement change_NH term 33 then next-hop 10.40.10.233";
                  }
                  commit-options {
                      log "updating configuration from event policy change_NH down";
                  }
              }
          }
      }
      policy change_NH_up_33 {
          events bfdd_trap_shop_state_up;
          attributes-match {
              bfdd_trap_shop_state_up.remote-peer matches 10.40.9.214;
          }
          then {
              change-configuration {
                  retry count 5 interval 4;
                  commands {
                      "delete policy-options policy-statement change_NH term 33 then next-hop 10.40.10.233";
                  }
                  commit-options {
                      log "updating configuration from event policy change_NH Up";
                  }
              }
          }
      }
}


policy-options{
   policy-statement change_NH {
       term 33 {
           from {
               protocol bgp;
               route-filter 1.1.1.1/32 exact;
           }
           then accept;
       }
   }
}

routing-instances {
    DEFAULT {
        protocols {
            bgp {
                group loopback_bgp_VPN-OAM {
                   import change_NH;
                }
            }
        }
    }
}
